/* Color Theme Swatches in Hex */
$colorgreen1: #49a6a6;
$coloryellow1: #f2cb05;
$colorpurple1: #914bf2;
$colorblue1: #4bb2f2;
$colorred1: #f26b1d;
$colorred2: #f23c13;
$colorred3: #8c0d0d;

/* Color Theme Swatches in RGBA */
$rgbagreen1: rgba(72, 165, 165, 1);
$rgbayellow1: rgba(242, 202, 4, 1);
$rgbared1: rgba(242, 107, 29, 1);
$rgbared2: rgba(242, 60, 19, 1);
$rgbared3: rgba(140, 12, 12, 1);
$Diseño-de-juegos-1-rgba: rgba(144, 75, 242, 1);
$Diseño-de-juegos-2-rgba: rgba(75, 178, 242, 1);

/* Color Theme Swatches in Hex */
$Diseño-de-juegos-1-hex: #914bf2;
$Diseño-de-juegos-2-hex: #4bb2f2;
$Diseño-de-juegos-3-hex: #f2cb05;
$Diseño-de-juegos-4-hex: #f2b705;
$Diseño-de-juegos-5-hex: #f25c05;

/* Color Theme Swatches in RGBA */

$Diseño-de-juegos-3-rgba: rgba(242, 202, 4, 1);
$Diseño-de-juegos-4-rgba: rgba(242, 182, 4, 1);
$Diseño-de-juegos-5-rgba: rgba(242, 91, 4, 1);

/* Color Theme Swatches in HSLA */
$Diseño-de-juegos-1-hsla: hsla(264, 86, 62, 1);
$Diseño-de-juegos-2-hsla: hsla(202, 86, 62, 1);
$Diseño-de-juegos-3-hsla: hsla(50, 96, 48, 1);
$Diseño-de-juegos-4-hsla: hsla(45, 96, 48, 1);
$Diseño-de-juegos-5-hsla: hsla(22, 96, 48, 1);
