
.contentcarola{
  max-width: 106em;
  width: 100%;;
  margin: 0 auto;
  .paintcarola{
    .active{
      &#glasses{
        fill:#F28705!important;
      }
      &#trouser{
        .paintcarola___area{
          fill: #025159!important;
        }
        
      }
      &#pullover{
        .paintcarola___area{
          fill:#F25D27 !important;
        }
        
      }
      &#sneackers{
        path{
          fill: #03A696!important;
        }
      }
    }
  }
}